/* Sass Scripts Start*/

$phone: 688px;

/* Sass Scripts End*/

/* Basic styles start*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (max-width: $phone) {
  .wrapper {
    padding: 0 15px;
  }
}

/* Basic styles end*/

/* Header Start*/

header {
  max-width: 1880px;
  height: 116px;
  background: url("../img/header.jpg") center no-repeat;
  background-size: contain;
}

/* Header End*/

/* Top Section Start */

.top-section {
  min-height: 454px;
  background: url("../img/top-image.jpg") no-repeat top center;
  background-size: cover;
  margin-bottom: 90px;

  .top-section__container {
    position: relative;

    .top-section__title {
      font-weight: 700;
      font-size: 70px;
      line-height: 80px;
      color: #2b3247;
      position: absolute;
      top: 183px;
      letter-spacing: -2.273px;
    }

    @media screen and (max-width: $phone) {
      .top-section__title {
        font-weight: 500;
        font-size: 3em;
        line-height: 1em;
      }
    }
  }
}


/* Top Section End */

/* Main-review start*/

.main-review {
  margin-bottom: 15px;

  .main-review__articles {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;

    @media screen and (max-width: $phone) {
      display: block;
    }

    .main-review__article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;

      @media screen and (max-width: $phone) {
        display: block;

        &:first-child {
          margin-bottom: 50px;

          .main-review__article__text {
            margin-bottom: 50px;
          }
        }
        &:last-child .main-review__article__thumb-container {
          margin-bottom: 50px;
        }
      }

      .main-review__article__thumb {
        border-radius: 20px;
      }

      .main-review__article__title {
        font-weight: bold;
        font-size: 52px;
        line-height: 62px;
        color: #2B3247;
        padding: 0 0 50px 0;
      }

      .main-review__article__desc {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #2B3247;
        margin-top: 13px;
        margin-bottom: 13px;
      }

      .main-review__article__text:last-child {
        @media screen and (max-width: $phone) {
          padding-right: 0;
        }
        padding-right: 45px;
      }
    }
  }
}

/* Main-review end*/

/* Contact-us start*/

.contact-us {
  margin-bottom: 84px;

  .contact-us__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @media screen and (max-width: $phone) {
      display: block;
    }

    .contact-us__articles {
      grid-column: 1/8;

      .contact-us__article {

        box-shadow: 0 5px 27px rgba(26, 42, 137, 0.09);
        border-radius: 20px;
        padding: 0 70px 0 70px;

        @media screen and (max-width: $phone) {
          display: block;
          padding: 0 25px 0 25px;
        }

        &.article-cost {
          padding-top: 82px;
          padding-bottom: 62px;
          margin-bottom: 38px;
        }

        &.article-work {
          padding-top: 70px;
          padding-bottom: 57px;
          margin-bottom: 30px;
        }

        &.article-data {
          padding-top: 70px;
          padding-bottom: 60px;

          &.contact-us__article__title {
            margin-bottom: 30px;
          }

          & ul:first-of-type {
            margin-bottom: 20px;
          }
        }

        .contact-us__article__content {
          max-width: 530px;

          .contact-us__article__title {
            font-weight: bold;
            font-size: 52px;
            line-height: 62px;
            color: #2B3247;
            margin-bottom: 40px;
            letter-spacing: -2px;
            @media screen and (max-width: $phone) {
              font-size: 36px;
              line-height: 42px;
            }
          }

          .contact-us__article__desc-cost {
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            color: #2B3247;
            word-spacing: -3px;
            margin-bottom: 22px;
          }

          .contact-us__article__price {
            font-weight: bold;
            font-size: 25px;
            line-height: 35px;
            color: #2B3247;
          }

          .contact-us__article__desc-work {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #2B3247;
            word-spacing: -3px;
            margin-bottom: 22px;
          }

          .contact-us__article__list {
            list-style: none;

            &:first-child {
              margin-bottom: 20px;
            }

            .contact-us__article__list-item {
              position: relative;
              font-weight: 300;
              font-size: 16px;
              line-height: 24px;
              color: #2B3247;
              padding-left: 22px;
              margin-bottom: 15px;

              &:before {
                position: absolute;
                content: "\2BC0";
                color: #BDBBD8;
                font-weight: bold;
                display: inline-block;
                width: 6px;
                height: 6px;
                left: -2px;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .contact-us__article__desc-data {
            font-weight: 500;
            font-size: 25px;
            line-height: 35px;
            color: #2B3247;
            margin-bottom: 20px;
          }

          .contact-us__article__desc-if {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #2B3247;
            margin-bottom: 30px;
          }

          .contact-us__article__notation {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #2B3247;
            margin-bottom: 20px;
          }
        }
      }
    }

    .contact-us__thumb-container {
      grid-column: 8/13;
      max-width: 470px;
      height: 836px;
      background: #110E7F;
      border-radius: 20px;
      position: relative;
      @media screen and (max-width: $phone) {
        display: block;
        grid-column: 1;
        height: 100vh;
      }

      .contact-us__thumb {
        position: absolute;
        max-width: 385px;
        max-height: 355px;
        top: 176px;
        left: 58px;
        @media screen and (max-width: $phone) {
          left: 1px;
          top: 20vh;
        }
      }

      .contact-us__button {
        background: #EB4141;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        width: 270px;
        height: 70px;
        position: absolute;
        top: 571px;
        left: 100px;
        text-align: center;
        vertical-align: center;
        line-height: 67px;

        @media screen and (max-width: $phone) {
          left: 50%;
          transform: translateX(-50%);
          top: 80vh;
        }
      }
    }
  }
}

/* Contact-us end*/

/* Products Start*/
.products {
  margin-bottom: 106px;

  .products__title {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #2B3247;
    margin-bottom: 50px;
  }

  .products__list {
    border: 1px solid #E4EDF5;
    color: #2B3247;

    .products__list-item {
      display: grid;
      grid-template-columns: 1fr 7fr 4fr;
      align-content: center;
      min-height: 57px;
      border-bottom: 1px solid #E4EDF5;

      &:first-child {
        height: 65px !important;
        background: #F3F6FA;
        border-bottom: 1px solid #E4EDF5;
        box-sizing: border-box;
        border-radius: 5px 5px 0 0;

        div {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
        }

      }

      div {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        border-bottom: none;
      }

      .products__list-item__number {
        margin: auto 0;
        padding-left: 35px;
        @media screen and (max-width: $phone) {
          padding-left: 0;
          margin: auto auto;
          font-size: 0.8em;
        }
      }

      .products__list-item__title {
        padding-right: 30px;
        letter-spacing: -0.2px;
        @media screen and (max-width: $phone) {
          padding-right: 5px;
          margin: auto 0;
          font-size: 0.9em;
        }
      }

      @media screen and (max-width: $phone) {
        .products__list-item__code {
          margin: auto 0;
          font-size: 0.8em;
          text-align: end;
          padding-right: 5px;
        }
      }

      .products__list-item__code-link {
        color: #110E7F;
        padding-right: 95px;

        @media screen and (max-width: $phone) {

          padding-right: 0;

        }
      }
    }

  }
}

/* Products End*/

/* Contact-form start */

.contact-form {
  margin-bottom: 90px;

  @media screen and (max-width: $phone) {
    margin-bottom: 30px;
  }

  .contact-form__container {
    max-width: 1170px;
    min-height: 394px;
    background: #110E7F;
    border-radius: 20px;
    text-align: center;
    position: relative;

    @media screen and (max-width: $phone) {
      height: 100vh;
    }

    .contact-form__title {
      max-width: 759px;
      top: 70px;
      left: 206px;
      position: absolute;
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      line-height: 62px;
      color: #FFFFFF;
      letter-spacing: -2px;

      @media screen and (max-width: $phone) {
        font-size: 32px;
        line-height: 48px;
        top: 15px;
        left: 0;
        right: 0;
        letter-spacing: 0;
      }
    }

    .contact-form__form {
      position: absolute;
      top: 244px;
      left: 100px;

      @media screen and (max-width: $phone) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        top: auto;
        left: 0;
        right: 0;
        bottom: 30px;
        padding: 15px;
      }

      input {
        width: 270px;
        height: 70px;
        border: 1px solid #8582E6;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        margin-right: 30px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

        @media screen and (max-width: $phone) {
          margin: 0;

        }

        &::placeholder {
          padding-top: 22px;
          padding-left: 26px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #8582E6;
        }
      }

      .contact-form__form__submit {
        width: 370px;
        height: 70px;
        background: #EB4141;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        cursor: pointer;
        border: none;

        @media screen and (max-width: $phone) {
          width: 100%;
        }
      }
    }
  }
}

/* Contact-form end */

/* Footer start*/

footer {
  max-width: 1902px;
  height: 461px;
  background: url("../img/footer.jpg") center bottom no-repeat;
  background-size: contain;

  @media screen and (max-width: $phone) {
    width: 100%;
    height: 14vh;
  }
}

/* Footer End*/
