/* Reset css start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    }

body {
    line-height: 1;
    }

ol, ul {
    list-style: none;
    }

blockquote, q {
    quotes: none;
    }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
    }

/* Reset css end*/

/* Fonts Start*/
/* roboto-regular - latin */
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v27-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v27-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v27-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v27-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v27-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v27-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
    }

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
    }

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
    }

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v27-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v27-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v27-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
    }

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v27-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v27-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v27-latin-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v27-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v27-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
    }

/* Fonts End*/

/* Basic styles start*/
* {
    box-sizing: border-box;
    }

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    }

img {
    width: 100%;
    height: auto;
    }

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    }

.wrapper-full {
    max-width: 1920px;
    margin: 0 auto;
    }

/* Basic styles end*/

/* Header Start*/

header {
    max-width: 1880px;
    height: 116px;
    background: url("../img/header.jpg") center no-repeat;
    }

/* Header End*/

/* Top Section Start */
.top-section {
    min-height: 454px;
    background: url("../img/top-image.jpg") no-repeat top center;
    background-size: cover;
    margin-bottom: 90px;
    }

.top-section__container {
    position: relative;
    }

.top-section__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #2b3247;
    position: absolute;
    top: 183px;
    letter-spacing: -2.273px;
    }

/* Top Section End */

/* Main-review start*/

.main-review__articles {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 100px;
    }

.main-review__article {
    display: grid;
    grid-template-columns: 6fr 6fr;
    column-gap: 100px;
    }

.main-review__article__title {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #2B3247;
    padding: 0 0 50px 0;

    }

.main-review__article__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #2B3247;
    margin-top: 13px;
    margin-bottom: 13px;
    }

.main-review__article__desc:last-child {
    margin-bottom: 15px;
    }

.main-review__article:last-child .main-review__article__text:last-child {
    padding-right: 45px;
    }

.main-review__article__thumb {
    border-radius: 20px;
    }

/* Main-review end*/

/* Contact-us start*/

.contact-us {
    margin-bottom: 84px;
    }

.contact-us__container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: 30px;
    }

.contact-us__thumb-container {
    width: 470px;
    height: 836px;
    background: #110E7F;
    border-radius: 20px;
    position: relative;
    }

.contact-us__thumb {
    position: absolute;
    width: 385px;
    height: 355px;
    top: 176px;
    left: 58px;

    }

.contact-us__button {
    background: #EB4141;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    width: 270px;
    height: 70px;
    position: absolute;
    top: 571px;
    left: 100px;
    text-align: center;
    vertical-align: center;
    line-height: 67px;
    }

.contact-us__article__wrapper {
    width: 530px;
    }

.contact-us__article {
    box-shadow: 0 5px 27px rgba(26, 42, 137, 0.09);
    border-radius: 20px;
    padding: 0 70px 0 70px;
    }

.article-cost {
    padding-top: 82px;
    padding-bottom: 62px;
    margin-bottom: 38px;
    }

.article-work {
    padding-top: 70px;
    padding-bottom: 57px;
    margin-bottom: 30px;
    }

.article-data {
    padding-top: 70px;
    padding-bottom: 60px;
    }

.contact-us__article__content {
    width: 530px;
    }

.contact-us__article__title {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #2B3247;
    margin-bottom: 40px;
    letter-spacing: -2px;
    }

.article-data .contact-us__article__title {
    margin-bottom: 30px;
    }

.contact-us__article__desc-cost {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #2B3247;
    word-spacing: -3px;
    margin-bottom: 22px;
    }

.contact-us__article__price {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #2B3247;
    }

.contact-us__article__desc-work {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2B3247;
    word-spacing: -3px;
    margin-bottom: 22px;
    }

.contact-us__article__list {
    list-style: none;
    }

.contact-us__article__list-item:before {
    position: absolute;
    content: "\2BC0";
    color: #BDBBD8;
    font-weight: bold;
    display: inline-block;
    width: 6px;
    height: 6px;
    left: -2px;
    }

.contact-us__article__list-item {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #2B3247;
    padding-left: 22px;
    margin-bottom: 15px;
    }

.contact-us__article__list-item:last-child {
    margin-bottom: 0;
    }
.article-data ul:first-of-type{
    margin-bottom: 20px;
    }
.contact-us__article__desc-data {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #2B3247;
    margin-bottom: 20px;
    }

.article-data .contact-us__article__list:first-child {
    margin-bottom: 20px;
    }

.contact-us__article__desc-if {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #2B3247;
    margin-bottom: 30px;
    }

.contact-us__article__notation {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2B3247;
    margin-bottom: 20px;
    }

/* Contact-us end*/

/* Products Start*/
.products {
    margin-bottom: 106px;
    }

.products__title {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #2B3247;
    margin-bottom: 50px;
    }

.products__list {
    border: 1px solid #E4EDF5;
    color: #2B3247;
    }

.products__list .products__list__header {
    height: 65px !important;
    background: #F3F6FA;
    border-bottom: 1px solid #E4EDF5;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;

    }

.products__list .products__list__header div {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    }

.products__list-item {
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    align-content: center;
    min-height: 57px;
    border-bottom: 1px solid #E4EDF5;
    }

.products__list-item:last-child {
    border-bottom: none;
    }

.products__list-item div {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    }

.products__list-item__number {
    padding-left: 35px;
    }

.products__list-item__title {
    padding-right: 30px;
    letter-spacing: -0.2px;
    }

.products__list-item__code-link {
    color: #110E7F;
    padding-right: 95px;
    }

/* Products End*/

/* Contact-form start */

.contact-form {
    margin-bottom: 90px;
    }

.contact-form__container {
    width: 1170px;
    height: 394px;
    background: #110E7F;
    border-radius: 20px;
    text-align: center;
    position: relative;
    }

.contact-form__title {
    max-width: 759px;
    top: 70px;
    left: 206px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    letter-spacing: -2px;
    }

.contact-form__form {
    position: absolute;
    top: 244px;
    left: 100px;
    }

.contact-form__form input {
    width: 270px;
    height: 70px;
    border: 1px solid #8582E6;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 30px;
    }

.contact-form__form input::placeholder {
    padding-top: 22px;
    padding-left: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8582E6;
    }

.contact-form__form__submit {
    width: 370px;
    height: 70px;
    background: #EB4141;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    }

/* Contact-form end */

/* Footer start*/

footer {
    max-width: 1902px;
    height: 461px;
    background: url("../img/footer.jpg") center no-repeat;
    }

/* Footer End*/
